
<nav class="navbar navbar navbar-expand-sm bg-dark navbar-dark py-3">

    <div class="container-fluid">
        <!-- Links -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Diş Hekimliği Uzmanlık Sistemi</a>
        </div>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Anasayfa</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Kayıt</a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Öğrenci/DersKayıt">Öğrenci Ders Kayıt</a></li>
                    <li><a class="dropdown-item" href="">Ders Dönem Kayıt</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Personel</a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Admin/Yenidanisman">Öğretim Görevlileri</a></li>
                    <li><a class="dropdown-item" href="/Admin/Index">Personel İşlemleri</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Öğrenci</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Admin/Yeni">Öğrenciler</a></li>
                    <li><a class="dropdown-item" href="/Admin/Index2">Öğrenci İşlemleri</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Akademik Ders</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Admin/Yeniders">Akademik Dersler</a></li>
                    <li><a class="dropdown-item" href="/Admin/Index3">Akademik Ders İşlemleri</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Security/Logout">Çıkış</a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://upload.wikimedia.org/wikipedia/tr/6/6d/Esogu_logo.png" alt="Avatar Logo" style="width:50px;" class="rounded-pill">
            </a>
        </div>
    </nav>
</nav>
